##############################
########    .npmrc    ########
########    10.9.5    ########
########     local    ########
##############################

# https://docs.npmjs.com/cli/v10/using-npm/config#config-settings

preid=rc
tag=next
